* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 70rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-container > p {
  text-align: center;
  font-size: 1.2rem;
  width: 55%;
  line-height: 1.8;
}

.allMochi-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;

}
